:root {
  --main-font-title-color: #454545;
  --main-toolbar-color: white;
  --global-nav-height: 55px;

  --global-ipad-width: 768px;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  font-family: "Roboto";
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

* {
  margin: 0px;
  padding: 0px;
}

/* // .main-container {
//   display: flex;
//   height: 100%;
//   width: 100%;

//   > .main-search-container {
//     margin: 10rem auto 0;
//   }
// }

// .home-search-option {
//   color: inherit;
//   display: flex;
//   flex-flow: row nowrap;
//   font-size: 0.8rem;
//   height: 100%;
//   width: 100%;

//   & > &-title {
//     flex: 1;
//     overflow: hidden;
//     text-overflow: ellipsis;
//   }

//   & > &-status {
//     flex: 0 auto;
//     font-size: 0.7em;
//     margin-left: auto;
//   }
// }

// .manga-details-wrapper {
//   display: flex;
//   flex-flow: row nowrap;
//   margin-top: 1rem;
//   max-width: 350px;
//   width: 90vh;

//   > .manga-details-image {
//     flex: 0 0 80px;
//     max-height: 10rem;
//     max-width: 5rem;
//     object-fit: contain;
//   }

//   > .manga-details-info {
//     flex: 1;
//     margin-left: 1rem;
//     font-size: 0.9rem;

//     > p {
//       text-align: justify;
//     }
//   }
// }

// .manga-chapter-wrapper {
//   align-items: center;
//   background-color: #222;
//   display: flex;
//   flex-flow: column nowrap;
//   overflow: auto;
//   width: 100%;

//   img {
//     height: auto;
//     max-width: 90vw;
//   }
// }

// // hacks

// .ant-tooltip-inner {
//   font-size: 0.7rem;
// } */


.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.roboto-light {
  font-family: Roboto;
  font-weight: 300;
}

.roboto-normal {
  font-family: Roboto;
  font-weight: 400;
}

.roboto-medium {
  font-family: Roboto;
  font-weight: 500;
}

.roboto-bold {
  font-family: Roboto;
  font-weight: 600;
}

.loader-container {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100px;
  padding: 20px;
}

.spacer {
  flex: 1;
}

a {
  color: #1890ff;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}

/* 
//ANTD */

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

.body {
  margin: 0;
  color: rgba(0, 0, 0, 0.65);
  line-height: 1.5;
  background-color: #fff;
  font-feature-settings: "tnum";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background: #1890ff;
}