@import "../src/style/layout.css";

:root {
  --main-font-title-color: #454545;
  --main-toolbar-color: white;
  --main-body-color: white;
  --global-nav-height: 55px;
  --global-link-color: #1890ff;
  --global-red-color: red;
  --global-dark-red-color: #b32525;
  --global-breakpoint-small: 576px;
  --global-font-color: #454545;
  --global-black-color: #454545;
  --global-gray-color: #999;
}

html {
  overflow: visible;
  overflow-y: scroll;
}

body,
#app {
  height: 100%;
}

html,
body,
#app {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  color: var(--global-font-color);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased !important;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: rgba(255, 0, 0);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

* {
  margin: 0px;
  padding: 0px;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.icon-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* height: var(--global-nav-height); */
  width: auto;
  background: transparent;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.icon-wrapper {
  align-items: center;
  display: flex;
  height: var(--global-nav-height);
  justify-content: center;
  width: calc(var(--global-nav-height) + 10px);
}

.roboto-light {
  font-family: Roboto;
  font-weight: 300;
}

.roboto-normal {
  font-family: Roboto;
  font-weight: 400;
}

.roboto-medium {
  font-family: Roboto;
  font-weight: 500;
}

.roboto-bold {
  font-family: Roboto;
  font-weight: 600;
}

.loader-container {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100px;
  padding: 20px;
}

.spacer {
  flex: 1;
}

a {
  /* 1890ff */
  color: var(--global-red-color);
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: var(--global-black-color);
}

/* 
//ANTD */

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

.body {
  margin: 0;
  color: rgba(0, 0, 0, 0.65);
  line-height: 1.5;
  background-color: #fff;
  font-feature-settings: "tnum";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background: #1890ff;
}

hr {
  margin-left: 10px;
  margin-right: 10px;
  border: 0;
  border-top: 1px solid #b0b0b0;
}

.dotted {
  background: radial-gradient(rgb(255, 255, 255) 15%, transparent 16%) 0 0,
    radial-gradient(rgb(255, 255, 255) 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #f9f9f9;
  background-size: 16px 16px;
}

.matted {
  background: #f4f7fa url(./assets/noise.png);
}

.matted-white {
  background: #f4f7fa url(./assets/noise.png);
}

.effect-bgc {
  transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

* {
  transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.not-selectable {
  user-select: none;
}