* {
    margin: 0px;
    padding: 0px;
}

.manga-card-small {
    border-radius: 0.8vw;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
}

.manga-card-small:hover {
    background-color: #e4e4e4;
}

.manga-card-small-image-container {
    height: 30vw;
    width: 20vw;
    overflow: hidden;
    /* justify-content: center; */
    /* display: block; */
    /* position: relative; */
}

.manga-card-small-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.manga-card-small-title-container {
    padding: 2px;
    /* position: absolute; */
    /* bottom: 0px;
    left: 0px;
    right: 0px; */
    /* background-color: rgba(0, 0, 0, 0.6); */
}

.manga-card-small-title {
    color: #222;
    padding: 2px;
    margin: 0px;
    z-index: 1;
}

.manga-card-small-info-container {
    display: flex;
    vertical-align: center;
    justify-content: center;
    padding: 0px 0px 0px 10px;
}