.onFocus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

.search-mobile-wrapper-sliding {
  color: #222;
  background-color: var(--main-toolbar-color);
  display: inline-block;
  left: 0;
  position: absolute;
  max-width: 100%;
  width: 100%;
  top: 0;
  vertical-align: middle;
  z-index: 1;
}

.search-icon-wrapper {
  align-items: center;
  display: flex;
  height: var(--global-nav-height);
  justify-content: center;
  width: calc(var(--global-nav-height) + 10px);
}

.search-icon-wrapper.c-width {
  width: calc(40px + 1vw);
}

.search-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: var(--global-nav-height);
  width: auto;
  background: transparent;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.search-button:focus {
  outline: none;
}

.option-mobile-wrapper {
  position: absolute;
  /* border-bottom: 5px solid red; */
  font-size: 0.9rem;
  top: var(--global-nav-height);
  left: 0;
  right: 0;
  z-index: 99;
  margin: 0px auto 0 auto;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.option-desktop-wrapper {
  position: absolute;
  /* border-bottom: 5px solid red; */
  font-size: 0.9rem;
  top: var(--global-nav-height);
  /* left: 0;
  right: 0; */
  z-index: 99;
  margin: -7px auto 0 auto;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: calc(250px + 10vw);
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}