.main-container {
  align-items: center;
  background-color: tomato;
  padding: 1vw;
}

.col {
  background-color: white;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 0.5vw;
  margin: 0 0 1vw;
  padding: 0.9vw;
  width: 100%;
}

.main-col-1 {
  height: auto;
}

.main-col-2 {
  height: auto;
}

/* .main-col-title-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.main-col-title {
  color: #484848;
  font-family: "Roboto Condensed";
  font-size: 1.2rem;
  font-weight: bold;
} */

.main-mangas-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
}

/* .view-all {
  font-size: 1.5em;
} */

/* @media only screen and (min-width: 768) {
  .main-col-1 {
    width: 56vw;
    height: auto;
  }

  .main-col-2 {
    width: 25vw;
    height: auto;
  }
} */